.wrap {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: left;
}

.circle {
    height: 35px;
    width: 35px;
    background-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
    color: var(--background);
}

.user-card-font {
    font-weight: lighter !important;
}