<div class="container h-100">
    <div class="row justify-content-center">
        <div class="card py-4 px-md-5 shadow-sm col-xxl-10">
            <div class="row">
                <div class="col-sm-10 col-8 wrap">
                    <div class="display-5">
                        {{toUsername}}
                    </div>
                    <div *ngIf="toOnlineStatus && toOnlineStatus.onlineStatus === 'OFFLINE'" class="fw-light">
                        Last online {{toOnlineStatus.lastOnline | date: getLastOnlineDatePipeFormat(toOnlineStatus.lastOnline)}}
                    </div>
                    <div *ngIf="toOnlineStatus && toOnlineStatus.onlineStatus === 'ONLINE'" class="fw-light">
                        Online
                    </div>
                </div>
                <div class="col-sm-2 col-4 d-flex justify-content-end">
                    <button class="btn btn-light btn-md-circle" (click)="onFriend()" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title={{getFriendTooltipText()}}>
                        <svg *ngIf="isFriend"  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                        </svg>
                        <svg *ngIf="!isFriend" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>
                    </button>
                    <button class="btn btn-light btn-md-circle" (click)="onBack()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back">
                        <svg width="35" height="35" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                        </svg>
                    </button>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="abs-center-spinner" *ngIf="spinner">
                    <mat-spinner [diameter]="40" color="accent"></mat-spinner>
                </div>
                <div #infiniteScrollDiv infinite-scroll [infiniteScrollUpDistance]="1" [infiniteScrollThrottle]="1000"
                    (scrolledUp)="onScroll()" [scrollWindow]="false" class="infinite-scroll-div">
                    <div>
                        <div *ngFor="let message of messages" class="row"
                            [ngClass]="{'justify-content-end': isMessageBelongsToCurrentUser(message)}">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-10">
                                <zup-message-bubble 
                                    [messageText]="message.messageText"
                                    [messageDate]="message.createdAt"
                                    [messageStatus]="getMessageStatus(message)"
                                    [theme]="getMessageBubbleColor(message)"
                                >
                                </zup-message-bubble>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <form [formGroup]="messageForm" (ngSubmit)="onSend()">
                    <div class="row">
                        <div class="col-md-11 col-10">
                            <input type="text" class="form-control" placeholder="Type a message" formControlName="messageText" autofocus required>
                        </div>

                        <div class="col-md-1 col-2 d-grid">
                            <button type="submit" class="btn btn-primary text-light">
                                <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="currentColor" d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z"></path></svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>